@model List<Sistema_Fallas_IMSS.ViewModels.VM_Foro>
@{
    ViewBag.Title = "Foro de Soluciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container" style="min-height: 100vh;">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2>Foro de Soluciones</h2>
        </div>
        @if (Sistema_Fallas_IMSS.Controllers.HomeController.ObtenerRol(User.Identity.Name) <= 2)
        {
            <div class="col-sm-12 col-md-12 col-lg-12">
                <button class="btn btn-primary">Agregar</button>
            </div>
        }
    </div>
    <br />
    <div class="accordion" id="accordionExample">
        @foreach (var item in Model)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingdiv_@item.Id_foro">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#div_@item.Id_foro" aria-expanded="false" aria-controls="div_@item.Id_foro">
                        @item.Titutlo
                    </button>
                </h2>
                <div id="div_@item.Id_foro" class="accordion-collapse collapse" aria-labelledby="div_@item.Id_foro" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <strong>Problema:</strong>
                                    <div>
                                        @item.Problema
                                    </div>
                                </div>
                                <hr />
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <strong>Solucion:</strong>
                                    <div>
                                        @item.Solucion
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <strong>Autor: </strong>@item.Autor  <div><strong>Correo: </strong>@item.Correo</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!--Modal para Crear Entradas al foro -->
<div id="mdl_Foro" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Solucion al Foro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <br />
            <div class="modal-body">

                <!-- PartialView _ModalRegistrarForo.cshtml -->

            </div>
            <!-- Modal footer -->
            <div class=" modal-footer">
                <button type="button" class="btn btn-success" onclick="RegistrarForo()">Guardar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function AbrirModalForo(id_foro) {
        $.ajax({
            type: "POST",
            url: '@Href("~/Foro/AbrirModalForo")',
            data: {id_foro: id_foro},
            dataType: "html",
            contentType: "application/json; charset=utf-8",
            success: function (response) {

                $("#mdl_Foro").find(".modal-body").html(response);
                $("#mdl_Foro").modal('show');
            },
            error: function () {
            }
        });
    }

    function RegistrarForo() {

        var form = new FormData();
        form.append("Id_foro", $("#Id_foro").val());
        form.append("Titutlo", $("#Titutlo").val());
        form.append("Problema", $("#Problema").val());
        form.append("Solucion", $("#Solucion").val());
        form.append("Autor", $("#Autor").val());
        form.append("Correo", $("#Correo").val());

        $.ajax({
            type: "POST",
            url: '@Href("~/Foro/GenerarRegistroForo")',
            data: form,
            contentType: false,
            dataType: "json",
            cache: false,
            processData: false,
            success: function (response) {

                if (response == 1) {
                    Swal.fire(
                        'Creado!',
                        'El reporte se ha creado!',
                        'success'
                    )
                    $("#mdl_Reporte").modal('hide');

                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            },
        });
    }

</script>