@using NonFactors.Mvc.Grid
@model Sistema_Fallas_IMSS.ViewModels.VM_Hospital
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="hospital-tab" data-bs-toggle="tab" data-bs-target="#hospitales" type="button" role="tab" aria-controls="hospitales" aria-selected="true">Hospitales</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="area-tab" data-bs-toggle="tab" data-bs-target="#areas" type="button" role="tab" aria-controls="areas" aria-selected="false">Areas</button>
    </li>
</ul>
<div style="min-height: 100vh;">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="hospitales" role="tabpanel" aria-labelledby="hospital-tab">
                <section class="content-header">
                    <br />
                    <div class="row bottom30">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h2 style="margin-top: 10px;" >Hospitales</h2>
                        </div>
                    </div>
                </section>
                <section class="content">
                    <br />
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <button class="btn btn-primary" onclick="AbrirModalHospital(0)">Registrar Hospital</button>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="input-group">
                                <input id="tbx_buscar_hospital" type="text" class="form-control" autocomplete="off" placeholder="Buscar Hospital" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" onclick="LimpiarFiltro()" id="btn_limpiar">Limpiar</button>
                            </div>
                        </div>
                    </div>   
                    <br />
                    @Html.AjaxGrid(Url.Action("HospitalesGrid", "Hospitales"), new { id = "gridHospitales", name = "gridHospitales" })
                </section>
        </div>

        <div class="tab-pane fade" id="areas" role="tabpanel" aria-labelledby="area-tab">

                    <section class="content-header">
                        <br />
                        <div class="row bottom30">
                            <br />
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h2 style="margin-top: 10px;">Areas</h2>
                            </div>
                        </div>
                    </section>
                    <section class="content">
                        <br />
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <button class="btn btn-primary" onclick="AbrirModalArea(0)">Registrar Area</button>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="input-group">
                                    <input id="tbx_buscar_area" type="text" class="form-control" autocomplete="off" placeholder="Buscar Area" aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <button class="btn btn-outline-secondary" type="button" onclick="LimpiarFiltro2()" id="btn_limpiar">Limpiar</button>
                                </div>
                            </div>
                        </div>
                        
                        <br />
                        @Html.AjaxGrid(Url.Action("AreasGrid", "Hospitales"), new { id = "gridAreas", name = "gridAreas" })
                    </section>

        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

        </div>
    </div>

</div>

<!--Modal para Editar/Crear Hospitales-->
<div id="mdl_Hopsitales" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hospital</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <br />
            <div class="modal-body">

                <!-- PartialView _ModalHospital.cshtml -->

            </div>
            <!-- Modal footer -->
            <div class=" modal-footer">
                <button type="button" class="btn btn-success" onclick="RegistrarEditarHospital()">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal para Editar/Crear Areas-->
<div id="mdl_Areas" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Area</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <br />
            <div class="modal-body">

                <!-- PartialView _ModalArea.cshtml -->

            </div>
            <!-- Modal footer -->
            <div class=" modal-footer">
                <button type="button" class="btn btn-success" onclick="RegistrarEditarArea()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div id="bar_progress" class="progress-bg" style="display:none;">
    <div class="progress-center">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
<script type="text/javascript">

    window.onload = (event) => {

        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            new MvcGrid(element);
        });
    }

    document.getElementById('tbx_buscar_hospital').addEventListener('keyup', function (event) {

        if (event.key != 'Enter') {
            var grid = new MvcGrid(document.querySelector('#gridHospitales'));
            grid.query.set('_search', this.value);
            grid.reload();

        };
    });

    function LimpiarFiltro() {
        $("#tbx_buscar_hospital").val('');
        var grid = new MvcGrid(document.querySelector('#gridHospitales'));
        grid.query.set('_search', "");
        grid.reload();
    }
    document.getElementById('tbx_buscar_area').addEventListener('keyup', function (event) {

        if (event.key != 'Enter') {
            var grid = new MvcGrid(document.querySelector('#gridAreas'));
            grid.query.set('_search', this.value);
            grid.reload();

        };
    });

    function LimpiarFiltro2() {
        $("#tbx_buscar_area").val('');
        var grid = new MvcGrid(document.querySelector('#gridAreas'));
        grid.query.set('_search', "");
        grid.reload();
    }

    function AbrirModalHospital(id_hospital) {
        $.ajax({
            type: "POST",
            url: '@Href("~/Hospitales/AbrirModalHospital")',
            data: JSON.stringify({ _id_hospital: id_hospital }),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {

                $("#mdl_Hopsitales").find(".modal-body").html(response);
                $("#mdl_Hopsitales").modal('show');

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            },
        });
    }
    function AbrirModalArea(id_area) {
        $.ajax({
            type: "POST",
            url: '@Href("~/Hospitales/AbrirModalArea")',
            data: JSON.stringify({ _id_area: id_area }),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {

                $("#mdl_Areas").find(".modal-body").html(response);
                $("#mdl_Areas").modal('show');

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            },
        });
    }

    function RegistrarEditarHospital() {
        $("#bar_progress").show();
        var formData = new FormData();
        formData.append("Id", $("#Id").val());
        formData.append("Nombre", $("#Nombre").val());
        formData.append("Director", $("#Director").val());
        formData.append("Direccion", $("#Direccion").val());
        formData.append("Municipio", $("#Municipio").val());
        formData.append("Estado", $("#Estado").val());

         $.ajax({
            type: "POST",
            url: '@Href("~/Hospitales/RegistrarEditarHospital")',
            data: formData,
            contentType: false,
            dataType: "html",
            cache: false,
            processData: false,
            success: function (response) {
                $("#mdl_Hopsitales").find(".modal-body").html(response);
                var mensaje = $("#mdlHospital_Mensaje").val();

                if (mensaje == "okay") {
                    Swal.fire(
                        'Creado!',
                        'Registro de hospital guardado!',
                        'success'
                    )
                    $("#mdl_Hopsitales").modal('hide');
                    var grid = new MvcGrid(document.querySelector(".mvc-grid"))
                    grid.reload();
                }
                if (mensaje == "error") {
                    Swal.fire(
                        'Algo ocurrio!',
                        'Problemas al registrar el hospital!',
                        'info'
                    )
                }

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
             },
             complete: function () {
                 $("#bar_progress").hide();
             }
        });
    }

    function RegistrarEditarArea() {
        var formData = new FormData();
        formData.append("Id", $("#Id").val());
        formData.append("Nombre_area", $("#Nombre_area").val());
        formData.append("Id_hospital", $("#Hospital").val());

         $.ajax({
            type: "POST",
            url: '@Href("~/Hospitales/RegistrarEditarArea")',
            data: formData,
            contentType: false,
            dataType: "html",
            cache: false,
            processData: false,
            success: function (response) {

                $("#mdl_Areas").find(".modal-body").html(response);
                var mensaje = $("#mdlArea_mensaje").val();

                if (mensaje == "okay") {
                    Swal.fire(
                        'Creado!',
                        'Registro de area guardado!',
                        'success'
                    )
                    $("#mdl_Areas").modal('hide');
                    var grid = new MvcGrid(document.querySelector("#gridAreas"))
                    grid.reload();
                    var grid2 = new MvcGrid(document.querySelector("#gridHospitales"))
                    grid2.reload();
                }
                if (mensaje == "error") {
                    Swal.fire(
                        'Algo ocurrio!',
                        'Problemas al registrar el area!',
                        'info'
                    )
                }

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            },
        });
    }

    function EliminarHospital(id_hospital) {
        Swal.fire({
            title: 'Seguro de eliminar este hospital',
            text: "Estos cambios son irreversibles",
            icon: "info",
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Sí',
            denyButtonText: 'No, Salir',
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    type: "POST",
                    url: '@Href("~/Hospitales/EliminarHospital")',
                    data: JSON.stringify({ _id_hospital: id_hospital }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                        if (response == 1) {
                            Swal.fire(
                                'Cambios hechos!',
                                'Se ha eliminado el hospital!',
                                'success'
                            )
                            var grid = new MvcGrid(document.querySelector("#gridHospitales"))
                            grid.reload();
                        }
                        if (response == 2) {
                            Swal.fire(
                                'ERROR!',
                                'Existen areas registradas en el hospital!',
                                'info'
                            )
                        }
                        if (response == 0) {
                            Swal.fire(
                                'Algo ocurrio!',
                                'Error al eliminar!',
                                'info'
                            )
                        }

                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                });

            }

        })
    }

     function EliminarArea(id_area) {
        Swal.fire({
            title: 'Seguro de eliminar esta area',
            text: "Estos cambios son irreversibles",
            icon: "info",
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Sí',
            denyButtonText: 'No, Salir',
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    type: "POST",
                    url: '@Href("~/Hospitales/EliminarArea")',
                    data: JSON.stringify({ _id_area: id_area }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                        if (response == 1) {
                            Swal.fire('Cambios hechos!', 'Se ha eliminado el area!', 'success')
                            var grid = new MvcGrid(document.querySelector("#gridAreas"))
                            grid.reload();
                        }
                        if (response == 2) {
                            Swal.fire('ERROR!', 'Existen personas registradas en el area!', 'info')
                        }
                        if (response == 0) {
                            Swal.fire('Algo ocurrio!', 'Error al eliminar!', 'info')
                        }

                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                });

            }

        })
    }

</script>
