@model Sistema_Fallas_IMSS.ViewModels.VM_Existencias
@{
    Layout = null;
}
@Html.HiddenFor(model => model.Id_existencia)
@Html.HiddenFor(model => model.Mensaje, new {@id = "mdlExistencia_mensaje"})
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label>Material:</label>
            @Html.DropDownListFor(model => model.Material, Model.Materiales, "Seleccione un material", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Material, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label>Nombre de la persona:</label>
            @Html.TextBoxFor(model => model.Nombre_persona, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Nombre_persona, null, new { @class = "text-danger" })
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label>Area:</label>
            @Html.DropDownListFor(model => model.Area, Model.Areas, "Seleccione un area", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Area, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label>Pc:</label>
            @Html.TextBoxFor(model => model.Pc, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Pc, null, new { @class = "text-danger" })
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label>Cuenta:</label>
            @Html.TextBoxFor(model => model.Cuenta, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Cuenta, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label>Direccion IP:</label>
            @Html.TextBoxFor(model => model.Direccion_ip, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Direccion_ip, null, new { @class = "text-danger" })
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label>Serial:</label>
            @Html.TextBoxFor(model => model.Serial, "", new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label>Nsm:</label>
            @Html.TextBoxFor(model => model.Nsm, "", new { @class = "form-control" })
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label>Nnn:</label>
            @Html.TextBoxFor(model => model.Nnn, "", new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            @Html.CheckBoxFor(model => model.Tipo) Es Existencia Global?
        </div>
    </div>
</div>
